<template lang="html">
    <tr>
        <td>
            {{user.name}}
        </td>
        <td>
            {{user.email}}
        </td>
    </tr>
</template>
<script>
    export default{
        props:['user']
    }
</script>
<style lang="css">

</style>