<template lang="html">
    <div>
        <form v-on:submit.prevent="createUser" method="post">
            <div class="form-group">
                <input name="name" type="text" v-model="user.name" class="form-control">
            </div>
            <div class="form-group">
                <input name="email" type="text" v-model="user.email" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Crear nuevo</button>
            </div>
        </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    UserName
                </th>
                <th>
                    Email
                </th>
            </tr>
            </thead>
            <tbody>
            <User v-for="user in users" v-bind:user="user"></User>
            </tbody>
        </table>
    </div>
</template>
<script>
    import User from './User.vue';
    export default{
        data(){
            return{
                users:[],
                user:{
                    name:'',
                    email:''
                }
            }
        },
        components:{User},
        created(){
            this.fetchUsers();
        },
        methods:{
            fetchUsers(){
                axios.get('/users').then(response=>{
                    this.users=response.data.users;
                })
            },
            createUser(){
                axios.post('/users',this.user).then(response=>{
                    this.users.push(response.data.user);
                    console.log(response.data.message);
                });
            }
        }
    }
</script>
<style lang="css">

</style>